.border_class
{
	border:1px solid red;
	
	}

.margin_c
{
   
   margin: 0px auto;

}

.height_p
{

  height:830px;

}
.height_p1
{
  
  height:60px;

}
.text_c
{

color:red;

}
.padding_c
{
  padding-right:0px;
  padding-left:0px;
}

.float_left
{
 float:left;
 margin-left: 35px;
 margin-top: -5px;

}
.margin_top
{

	margin-top: 18px;
}

.width_c
{

	width:87%;
    margin-left: 34px;
    resize: none;
}

.width_c1
{

	margin-top: 36px;
    
}
.width_c2
{
	float:left;
}

.abc
{
	margin-top: 22px;
	margin-left: -57px;
}
.sel_width
{
       margin-top: 95px;
    margin-left: -260px;
}
.marg_l
{
	margin-left: -120px;
}
.marg_l_1
{

	margin-top: -38px;
	margin-left: -34px;
}

.bbc
{
	margin-top: 50px;
    float: left;
    margin-left: -117px;
}
.xyz
{
	width: 61px;
    margin-top: 81px;
    float: left;
    margin-left: -119px;
}
.xyz_1
{

    width: 77px;
    margin-top: 81px;
    float: left;
    margin-left: -55px;
}
.xyz_2
{
	 width: 77px;
    margin-top: 81px;
    float: left;
    margin-left: 5px;
}
.gdf
{
	margin-top: 120px;
    margin-left: -224px;
}
.egy
{
	margin-top: 150px;
    margin-left: -365px;
}
.egy1
{
	margin-top: 218px;
    margin-left: -419px;
}

.fg
{
	margin-top: 229px;
}
.back_col
{
	background: #ada0a0;
}
.hhh
{
  margin-top: 8px
}

.htt
{
      height: 600px;

}
.ggg
{
    opacity: 0.5;
    font-weight: 800px
}
.mmm
{
   margin-top: 22px;
   margin-left: 23px;
  
 }
.jjj
{
    height: 100px;
    font-size: 15px;
   font-weight: bold;
}
.ddd
{
    
    margin-left: 25px !important;
}
.kkk
{
  background: #0e0d0d;
  height: 53px;
  padding-top: 12px;
  opacity: 0.7;
  width: 482px;
  margin-left: 141px;
  margin-top: -29px;
  margin-bottom: 208px;
}
.ttt
{
  margin-left: 94px;
  margin-top: -32px;
}
.acb
{
  margin-top: -33px;
}
.iii
{
      margin-right: 30px !important;
}
.rrr
{
  float: right;
  margin-top: -69px;
}

