.logindiv
	{
		border-radius:5px 5px 5px 5px;
		background:#FFFFFF;
		border:1px solid #737373;
		height:250px;
		width:300px;
		padding:20px 30px 20px 30px;
		display:block;
	}
	.loginlogo
	{
		margin-top:90px;
		text-align:center;
		height:70px;
		width:300px;
		
	}
	.signinlogo
	{
		font-family:Arial;
		text-align:left;
		font-size:20px;
		font-weight:bold;
	}
	.rmemlogo
	{
		text-align:left;
		font-size:14px;
		font-family:Arial;
		font-weight:bold;
		color:#FF0066;
		margin-top:10px;
	}
	.login-text
	{
		width:300px;
		height:40px;
		border-radius:5px 5px 5px 5px;
		background:#E2E2E2;
		margin-top:15px;
		border:1px solid #959595;
		padding:2px 2px 2px 10px;
		font-size:16px;
		font-family:Arial;
		font-weight:bold;
		color:#959595;
	}
	.forget
	{
		margin-top:10px;
		text-align:left;
		vertical-align:bottom;
		float:left;
	}
	.login-buttons
	{
		height:40px;
		margin-top:10px;
	}
	.login-submit
	{
		text-align:right;
	}
	.submit-style
	{
		border:1px solid #FF0066;
		background:#FF0066;
		height:30px;
		width:90px;
		cursor:pointer;
		color:#FFFFFF;
		font-size:20px;
		padding:0px 0px 5px 0px;
	}
	.logindiv .login-text:focus 
	{ 
		border: 1px solid #ff5400; 
		background-color: rgba(255, 255, 255, 1); 
	}